/* Scss Document */

/* Variables */
/* COLORS */
$green: #00685C;
$beige: #FFF7E3;
$blue: #0198BD;
$lightgreen: #5EB34B;
$pink: #EB3772;
$yellow: #FFE41B;

/* FONTS */

$display: 'doyle', serif; /*will be Doyle*/
$sans: 'cinetype', sans-serif; /*will be Cinetype*/
$body: 'Raleway', sans-serif;

/* BORDERS */

$border: solid $green 1px;

@font-face {
	font-family: "doyle";
	src: url('../../fonts/Doyle-Bold.woff') format('woff'), url('../../fonts/Doyle-Bold.woff2');
}
@font-face {
	font-family: "doyle-bolditalic";
	src: url('../../fonts/Doyle-BoldItalic.woff') format('woff'), url('../../fonts/Doyle-BoldItalic.woff2');
	font-style: italic;
}
@font-face {
	font-family: "doyle-black";
	src: url('../../fonts/Doyle-Black.woff') format('woff'), url('../../fonts/Doyle-Black.woff2');
	font-weight: bold;
}
@font-face {
	font-family: "doyle-blackitalic";
	src: url('../../fonts/Doyle-BlackItalic.woff') format('woff'), url('../../fonts/Doyle-BlackItalic.woff2');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "cinetype";
	src: url("../../fonts/GT-Cinetype-Bold.woff") format('woff');
	font-weight: bold;
}
@font-face {
	font-family: "cinetype";
	src: url("../../fonts/GT-Cinetype-Regular.woff") format('woff');
	font-weight: normal;
}

html, .body {
	height: 100%;
	width: 100vw;
}


/* logo */
.site-logo {
	display: flex;
}

.logomark {
	background-color: $beige;
	width: 3em;
	height: 100%;
	border-style: none solid none none;
	border-color: $green;
	border-width: 1px;
}

.site-title-link {
	color: $green;
	text-decoration: none;
	font-family: $display;
	letter-spacing: .12em;
}

.site-title {
	padding: .8em 1em;
}


/* nav */
.site-header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color:white;
	border-style: solid;
	border-color: $green;
	border-width: 1px;
	z-index: 9999;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: $green;
    margin: 6px 0;
    transition: 0.4s;
	
	@media (min-width: 45rem){
		display: none;
	}
}

.primary-nav {
	background-color: $green;
	display: none;
	
	@media (min-width: 45rem){
		display: inline-block;
		position: absolute;
		top:0em;
		right:0;
		font-size: .8em;
		border-left: $border;
		background-color: $beige;
		color: $green;
		padding: 0;
		height: 100%;
	}
	
	ul {
		@media (min-width: 45rem){
			height: 100%;
		}
	}
	
	li {
		@media (min-width: 45rem){
			height: 100%;
		}
	}
	
	a {
		font-family: $display;
		letter-spacing: .1em;
		display: block;
		text-decoration: none;
		font-size: 1em;
		padding: 1.25em 2em 1em;
		background-color: rgba(255, 255, 255, 0);
		color: white;
		
		@media (min-width: 45rem){
			color: $green;
			border-right: $border;
			height: 100%;
		}
	}

	li:hover:nth-child(1) {
		color: $beige;
		background-color: $pink;
	}
	
	li:hover:nth-child(2) {
		color: $beige;
		background-color: $blue;
	}
	
	li:hover:nth-child(3) {
		color: $beige;
		background-color: $lightgreen;
	}
	
	a:hover:nth-child(1) {
		color: $beige;
	}
	
	a:hover:nth-child(2) {
		color: $beige;
	}
	
	a:hover:nth-child(3) {
		color: $beige;
	}
	
	
	a:active {
		color: $blue;
	}

	@media (min-width: 45rem) {
		ul {
			display: flex;
			text-decoration:none;
		}
		li:last-child a {
			margin-right: 0;
			border-right:none;
		}	
	}
}

#timelineNav {
	display:none;
}

.students-nav {
	background-color: $green;
	animation: fadeIn ease .5s;
	-webkit-animation: fadeIn ease .5s;
	-moz-animation: fadeIn ease .5s;
	-o-animation: fadeIn ease .5s;
	-ms-animation: fadeIn ease .5s;
	
	@media (min-width: 45rem) {
		position: absolute;
		top: 3.3em;
		width: 100vw;
		right:0;
		align-content: right;
		padding: 0 3em 0 3em;
	}
	@media (min-width: 55rem) {
		padding: 0 10em 0 10em;
	}	
	@media (min-width: 65rem) {
		padding: 0 15em 0 15em;
	}
	@media (min-width: 75rem) {
		padding: 0 20em 0 20em;
	}
	@media (min-width: 85rem) {
		padding: 0 25em 0 25em;
	}
	
	
	&__links {
		
		@media (min-width: 45rem) {
			display: flex;
			justify-content: space-between;
			text-align: center;
		}
	}
	
	a:hover {
		color: black;
	}
	
	a:active {
		color: #FF2400;
	}
}



.down {
	border: solid white;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 2px;
 	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
	right: 5%;
	position: absolute;
	
	@media (min-width: 45rem) {
		position: relative;
		right: 0;
		border-width: 0 1px 1px 0;
		top: -.25em;
	}
}


.menu-icon {
	font-size: .9em;
	padding: .5em;
	position: absolute;
	top: .25em;
	right: 1em;
	color: white;
	
	@media (min-width: 45rem){
		.menu-icon{
			display: none;
		}
	}
}

.show-menu .primary-nav {
	display: block;
}


.site {
	width: 100vw;
	min-height: 100vh;
	top: calc(100vh - 3em);
	background-color: white;
	/*border: $border;
	border-top: none;*/
	
	
	&__intro {
		max-width: 100%;
		height: 150%;
		margin: 0 auto;
		border: $border;
		border-top: none;
		
		
		/*@media (min-width: 65rem) {
			max-width: 65em;
		}*/
			
		&__text {
			color: $green;
			font-family: $display;
			font-size: 2.5em;
			text-align: center;
			
			
			@media (min-width: 45rem) {
				font-size: 3em;
			}
		}
	}
	
	&__title {
		width: 100%;
		height: 3.5em;
		padding: 1em;
		border: $border;
		border-top: none;
		border-bottom: none;
		
		@media (min-width: 45rem) {
			height: 4em;
		}
		
		&__name {
			width: 100%;
			height: 3em;
			padding: 1em;
			border-left: $border;
			border-right: $border;
			
		}
	}
	
	&__headline {
		color: $green;
		font-family: $display;
		font-size: 1.2em;
		text-align: center;
		
		@media (min-width: 45rem) {
			font-size: 1.5em;
		}
		
	}
	
	&__name {
		color: $green;
		font-family: 'cinetype', sans-serif;
		font-size: 1em;
		text-align: center;
		font-weight: bold;
	}
	
	&__about {
		border-top: $border;
		min-height: 100vh;
		
		p {
			padding: 1em;
			font-family: $sans;
			color: $green;
		}
	}
	
	&__students {
		border-top: $border;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
		border-left: $border;
		border-right: $border;
		height: 100%;
		
		@media (min-width: 30rem) {
			
			border-right: none;
		}
		
	}
	&__class {
		background-color: white;
		width: auto;
		border-bottom: $border;
		padding: 1em;
		width: 100%;
		
		@media (min-width: 30rem) {
			width: 50%;
			border-right: $border;
		}
		@media (min-width: 50rem) {
			padding: 1.5em;
		}
		@media (min-width: 70rem) {
			padding: 2em;
		}
		@media (min-width: 90rem) {
			padding: 2.5em;
		}
	}
	
}


/* HOME */
.background-image {
	display: flex;
	background-image: url("../../images/home/home_bg-02.svg");
	height: 150vh;
	width: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	z-index: -999;
}

.panel1 {
	position: absolute;
	width: 5em;
	top: 4em;
	
	@media(min-width: 35rem) {
		width: 7em;
		left: 3%;
	}
	@media(min-width: 60rem) {
		width: 10%;
		left: 3%;
	}
	@media(min-width: 80rem) {
		width: 8%;
		left: 9%;
	}
}

.panel2 {
	position: absolute;
	right: 0em;
	width: 5em;
	top: 20em;
	
	@media(min-width: 35rem) {
		width: 8em;
		right: .5em;
	}
	@media(min-width: 60rem) {
		width: 15%;
		right: 3%;
		top: 25em;
	}
	@media(min-width: 80rem) {
		width: 12%;
		right: 9%;
		top: 30em;
	}
	@media(min-width: 90rem) {
		width: 12%;
		right: 6%;
		top: 35em;
	}
}

.command1 {
	position: absolute;
	right: 3em;
	width: 5em;
	top: 3em;
	
	@media(min-width: 35rem) {
		width: 6em;
		right: 12%;
	}
	@media(min-width: 60rem) {
		width: 15%;
		right: 16%;
		top: 0;
	}
	@media(min-width: 90rem) {
		width: 12%;
		right: 16%;
		top: 1em;
	}
}

.typecursor {
	position: absolute;
	left: 6em;
	width: 5em;
	top: 10em;
	
	@media(min-width: 35rem) {
		width: 6em;
		left: 25%;
	}
	@media(min-width: 60rem) {
		width: 15%;
		left: 15%;
	}
	@media(min-width: 80rem) {
		width: 12%;
		left: 20%;
	}
}

.pencil {
	position: absolute;
	right: 0em;
	width: 5em;
	top: 8em;
	
	@media(min-width: 35rem) {
		width: 6em;
		right: 5%;
		top: 4em;
	}
	@media(min-width: 60rem) {
		width: 8em;
		right: 8%;
		top: 6em;
	}
	@media(min-width: 60rem) {
		width: 10em;
		right: 8%;
		top: 6em;
	}
}

.bounding1 {
	position: absolute;
	right: 3em;
	width: 6em;
	top: 15em;
	
	@media(min-width: 35rem) {
		width: 8em;
		right: 10em;
		top: 25em;
	}
	@media(min-width: 60rem) {
		width: 9em;
		right: 20%;
		top: 35em;
	}
	@media(min-width: 90rem) {
		width: 10em;
		right: 30%;
		top: 45em;
	}
}

.xacto {
	position: absolute;
	left: 0em;
	width: 15em;
	bottom: 12em;
	
	@media(min-width: 35rem) {
		width: 24em;
		bottom: 22em;
	}
	@media(min-width: 60rem) {
		width: 32em;
		bottom: 8em;
	}
	@media(min-width: 80rem) {
		width: 36em;
		bottom: 4em;
	}
	@media(min-width: 90rem) {
		width: 40em;
		bottom: 0em;
		left: 1em;
	}
	@media(min-width: 100rem) {
		bottom: -5em;
	}
}

.zoom {
	position: absolute;
	right: 2em;
	width: 15em;
	bottom: -10em;
	
	@media(min-width: 35rem) {
		width: 20em;
		bottom: -15em;
		right: 25%
	}
	@media(min-width: 60rem) {
		width: 22em;
		bottom: -20em;
		right: 25%
	}
	@media(min-width: 90rem) {
		width: 24em;
		bottom: -35em;
		right: 25%
	}
}

.blocks1 {
	position: absolute;
	right: 1em;
	width: 5em;
	top: 6em;
	
	@media(min-width: 35rem) {
		width: 7em;
		top: 5em;
	}
	@media(min-width: 60rem) {
		width: 10em;
		top: 4em;
		right: 3em;
	}
	@media(min-width: 90rem) {
		width: 12em;
		top: 3em;
	}
}

.blocks2 {
	position: absolute;
	left: 0em;
	width: 2em;
	top: 20em;
	
	@media(min-width: 35rem) {
		width: 3em;
		top: 25em;
	}
	@media(min-width: 60rem) {
		width: 4em;
		top: 35em;
	}
	@media(min-width: 90rem) {
		width: 5.5em;
		top: 40em;
	}
}

.blocks3 {
	position: absolute;
	right: 0em;
	width: 8em;
	bottom: -28em;
	
	@media(min-width: 35rem) {
		width: 10em;
		bottom: -30em;
	}
	@media(min-width: 60rem) {
		width: 12em;
		bottom: -32em;
	}
	@media(min-width: 90rem) {
		width: 14em;
		bottom: -36em;
		right: 2em;
	}
}

.command2 {
	position: absolute;
	left: 1.5em;
	width: 7em;
	bottom: -20em;
	
	@media(min-width: 35rem) {
		width: 9em;
		bottom: -22em;
	}
	@media(min-width: 60rem) {
		width: 11em;
		bottom: -22em;
		left: 3em;
	}
	@media(min-width: 90rem) {
		width: 13em;
		bottom: -18em;
		left: 30%;
	}
}


.logotitle {
	&__container{
		align-self: center;
		position: absolute;
		width: 100%;
		top: 10em;
		display: flex;
		align-content: center;
		justify-content: center;
		z-index: 999;
		margin: 0 auto;
		
		
		
	}
	&__image {
		padding: 0;
		width: 100%;
		@media(min-width: 80rem) {
			width: 80%;
		}
		@media(min-width: 100rem) {
			width: 75%;
		}
	}
}

.intro {
	&__container {
		position: absolute;
		width: 100%;
		top: 30em;
		display: flex;
		align-content: center;
		justify-content: center;
		align-self: center;
		z-index: 999;
		
		@media(min-width: 35rem) {
			top: 35em;
		}
		@media(min-width: 45rem) {
			width: 45%;
			left: 50%;
		}
		@media(min-width: 60rem) {
			width: 35%;
			left: 50%;
			top: 40em;
		}
		@media(min-width: 90rem) {
			width: 30%;
			left: 50%;
			top: 45em;
		}
	}
	&__text {
		width: 80%;
		padding: .75em;
		position: absolute;
		background-color: white;
		border: $border;
		
		@media(min-width: 60rem) {
			padding: 1em;
		}
		
		p {
			font-family: $sans;
			color: $green;
			line-height: 1.5em;
			font-size: .85em;
			
			@media(min-width: 60rem) {
				font-size:.9em;
			}
			@media(min-width: 90rem) {
				font-size:1em;
			}
		}
	}
}

.enter {
	&__container {
		position: absolute;
		width: 100%;
		bottom: -14em;
		display: flex;
		align-content: center;
		justify-content: center;
		align-self: center;
		z-index: 999;
	}
	&__button {
		width: 18em;
		padding: .75em;
		position: absolute;
		background-color: $lightgreen;
		border: $border;
		color: white;
		font-family: $sans;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		
		@media(min-width: 60rem) {
			width: 20em;
			font-size: 1.2em;
		}

	}
}

.enter__button:hover{
	background-color: $pink;
}


/* WORK */

.work {
 	width: 100%;
	border: 1px solid $green;
 	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: stretch;
	overflow: hidden;
	
	button:last-child{
		border-right: none;
	}
	
}

.worklink {
 	background-color: white;
 	color: $green;
  	outline: none;
  	cursor: pointer;
  	width: 50%;
	font-family: $sans;
	text-transform: uppercase;
	font-size: .7rem;
	padding: 1em;
	border-right: $border;
	
	@media (min-width: 45rem) {
		font-size: .8rem;
	}
}

.worklink:hover {
  background-color: $beige;
}

.worklink:active {
  background-color: $lightgreen;
}

.workcontent {
  	display: none;
	background-color: white;
	border-left: $border;
}


.category {
	display: flex;
	
	&__container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		background-color: yellow;
	}
	
	&__box {
		width: 50%;
		background-color: white;
		border-bottom: $border;
		border-right: $border;
		display: flex;
		align-content: center;
		justify-content: center;
		text-decoration: none;
		font-family: $sans;
		color: $green;
		
		@media (min-width: 40rem) {
			width: 33.333%;
		}
		
		@media (min-width: 45rem) {
			width: 25%;
		}
		@media (min-width: 85rem) {
			width: 12.5%;
		}
	}
}

a.category__box:hover {
	background-color: $lightgreen;
}

.grid {
	
	&__container {
		width: 100%;
		background-color: blue;
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		align-items: stretch;
		justify-content: flex-start;
		border-left: $border;	
	}
	
	&__item {
		width: 50%;
		background-color: yellow;
		border-right: $border;
		border-bottom: $border;
		
		@media (min-width: 40rem) {
			width: 33.333%;
		}
		
		@media (min-width: 45rem) {
			width: 25%;
		}
		@media (min-width: 60rem) {
			width: 16.66666%;
		}
		@media (min-width: 85rem) {
			width: 12.5%;
		}
	}
}

.grid__item {
  	float: left;
  	width: 50%;
  	display: none; 
	
	@media (min-width: 40rem) {
			width: 33.333%;
		}
		
		@media (min-width: 45rem) {
			width: 25%;
		}
		@media (min-width: 60rem) {
			width: 16.66666%;
		}
		@media (min-width: 85rem) {
			width: 12.5%;
		}
}

.content {
  background-color: white;
  padding: 0;
	height: 100%;
}

.show {
  display: block;
}

.filter {
  	outline: none;
  	padding: 12px 16px;
  	background-color: white;
  	cursor: pointer;
	width: 50%;
	border-bottom: $border;
	border-right: $border;
	display: flex;
	align-content: center;
	justify-content: center;
	text-decoration: none;
	font-family: $sans;
	color: $green;
	
	@media (min-width: 40rem) {
		width: 33.333%;
	}
	
	@media (min-width: 45rem) {
		width: 25%;
	}
	@media (min-width: 85rem) {
		width: 12.5%;
	}
}

.filter:hover {
  background-color: $beige;
}

.filter:active {
  background-color: $lightgreen;
  color: white;
}




/* STUDENTS */

.tab {
 	width: 100vw;
	border: 1px solid $green;
 	background-color: white;
	display: flex;
	flex-wrap: wrap;
	flex-basis: auto;
	justify-content: center;
	
	button:last-child{
		border-right: none;
	}
	
}

.tablink {
 	background-color: white;
 	color: $green;
  	outline: none;
  	cursor: pointer;
	font-family: $sans;
	text-transform: uppercase;
	font-size: .7rem;
	padding: 1em;
	border-right: $border;
	flex-grow: 1;
	
	@media (min-width: 45rem) {
		font-size: .8rem;
	}
}

.tablink:hover {
  background-color: $beige;
}

.tablink:active {
  background-color: $lightgreen;
}

.tabcontent {
  	display: block;
	background-color: white;
  	min-height: 70vh;
	width: 100%;
	
}
.class {
	background-color: white;
	font-family: $sans;
	font-weight: bold;
	color: $green;
	padding: .5em;
	border: $border;
	margin-bottom: .5em;
	
	
	&__container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		
	}
	
	&__names {
		width: 50%;
		font-family: $sans;
		font-size: .8em;
		padding: .5em;
		
		@media (min-width: 30rem) {
			font-size: .9em;
		}
	}
	
}

.names {
	margin-bottom: .6em;
	
	a {
		text-decoration: underline;
		color: $green;
	}
}

.blank {
	display: none;
	
	@media (min-width: 30rem) {
		display:block;
	}
}


/* STUDENT TEMPLATE PAGE */
.info {
	&__container {
		border-right: $border;
		border-left: $border;
		border-bottom: $border;
		background-color: white;
		font-family: $sans;
		color: $green;
		width: 100vw;
		
		
		h3 {
			font-weight: 800;
			font-size: .8em;
			
			@media (min-width: 45rem) {
				font-size: .9em;
			}
		}
		p {
			font-size: .9em;
		}
		
		@media (min-width: 40rem) {
			display: flex;
			align-content: stretch;
			justify-content: stretch;
			flex-wrap: wrap;
		}
	}
	
	
	&__left {
		width: 100%;
		
		padding: 1em;
		border-bottom: .5px solid $green;
		
		@media (min-width: 40rem) {
			min-height: 100vh;
			width: 60%;
			border-bottom: none;
		}
		@media (min-width: 60rem) {
			padding-left: 2rem;
		}
		@media (min-width: 70rem) {
			padding-left: 3rem;
			padding-right: 3rem;
			padding-top: 2rem;
		}
		@media (min-width: 80rem) {
			padding-left: 4rem;
			padding-right: 4rem;
		}
		@media (min-width: 90rem) {
			padding-left: 8%;
			padding-right: 5rem;
		}
	}
	
	&__right {
		width: 100%;
		padding: 1em;
		
		@media (min-width: 40rem) {
			min-height: 100vh;
			width: 40%;
			border-left: .5px solid $green;
		}
		@media (min-width: 60rem) {
			padding-right: 2rem;
			padding-left: 2rem;
		}
		@media (min-width: 70rem) {
			padding-right: 3rem;
			padding-left: 3rem;
			padding-top: 2rem;
		}
		@media (min-width: 80rem) {
			padding-right: 4rem;
			padding-left: 4rem;
		}
		@media (min-width: 90rem) {
			padding-right: 10%;
			padding-left: 4rem;
		}
	}
	
	&__question {
		border: .5px solid $green;
		padding: .5em;
	}
	&__answer {
		padding: .5em;
		margin-bottom: .3em;
		
		@media (min-width: 60rem) {
			margin-bottom: .5rem;
		}
	}
	&__interview {
		margin-bottom: .8em;
		h3 {
			font-size: 1em;
		}
	}
	&__longresponse {
		margin-bottom: .5em;
		line-height: 125%;
	}
}

.proj {
	&__container{
		border-right: $border;
		border-left: $border;
		border-bottom: $border;
		width: 100vw;
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		
		@media (min-width: 40rem) {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
		}
	}

	&__images {
		width: 100vw;
  		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
		
		@media (min-width: 40rem) {
			width: 65%;
			margin: inherit;
		}
		&__left {
			height: 100%;
			
			@media (min-width: 40rem) {
				border-right: $border;
			}
			@media (min-width: 60rem) {
				padding: 5%;
			}
			@media (min-width: 80rem) {
				padding: 10%;
			}
		}
		&__right {
			height: 100%;
			
			@media (min-width: 40rem) {
				border-left: $border;
				border-right: $border;
			}
			@media (min-width: 60rem) {
				padding: 5%;
			}
			@media (min-width: 80rem) {
				padding: 10%;
			}
			
		}
	}
	&__text {
		padding: 1em;
		border-top: $border;
		
		@media (min-width: 40rem) {
			width: 35%;
			border-top: none;
		}

		@media (min-width: 60rem) {
			padding-right: 2rem;
			padding-left: 2rem;
		}
		@media (min-width: 70rem) {
			padding-right: 3rem;
			padding-left: 3rem;
			padding-top: 2rem;
		}
		@media (min-width: 80rem) {
			padding-right: 4rem;
			padding-left: 4rem;
		}
		@media (min-width: 90rem) {
			padding-right: 10%;
			padding-left: 2rem;
		}
		
		h3 {
			border: $border;
			font-family: $sans;
			color: $green;
			font-size: .8em;
			margin-bottom: 1em;
			font-weight: bold;
			padding: .5em;
			
			@media (min-width: 40rem) {
				font-size: .9em;
			}
			@media (min-width: 60rem) {
				font-size: 1em;
			}
		}
		p {
			font-family: $sans;
			color: $green;
			font-size: .8em;
			margin-bottom: .5em;
			line-height: 1.5em;
			
			@media (min-width: 40rem) {
				font-size: .9em;
			}
		}
		a {
			text-decoration: underline;
			color: $green;
		}
	}
}

.mySlides1, .mySlides2, .mySlides3, .myslides4 {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	border-left: $border;
	border-right: $border;
	
	@media (min-width: 40rem) {
		border: none;
	}

}

/* Next & previous buttons */
.prev, .next {
  	cursor: pointer;
  	position: relative;
  	top: 50%;
  	width: auto;
  	padding: .5em;
  	margin-top: -22px;
  	color: $green;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.proj__images__left:hover, .proj__images__right:hover {
  background-color: $beige;
}

/* The dots/bullets/indicators */

.dots {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: .4em;
}
.dot1 {
  	cursor: pointer;
  	height: 12px;
  	width: 12px;
  	margin: 0 4px;
  	background-color: white;
  	border-radius: 50%;
	border: $border;
  	display: inline-block;
  	transition: 0s;
}

.dot1:hover {
  background-color: $lightgreen;
}


.tags {
		
	
	&__container {
		width: 100%;
		background-color: white;
		padding: 1em;
		border-right: $border;
		border-left: $border;
		border-bottom: $border;
		

		
		a {
			font-family: $sans;
			color: $green;
			padding: 1em;
			text-decoration: none;
			font-weight: bold;
		}
	}
}

.tag {
	border: solid 1px $green;
	display: inline-block;
}

/* About Page */

.about {
	&__container {
		border-right: $border;
		border-left: $border;
		border-bottom: $border;
		background-color: white;
		font-family: $sans;
		color: $green;
		width: 100vw;
		
		
		h3 {
			font-weight: 800;
			font-size: .8em;
			
			@media (min-width: 45rem) {
				font-size: .9em;
			}
		}
		p {
			font-size: .9em;
		}
		
		@media (min-width: 40rem) {
			display: flex;
			align-content: stretch;
			justify-content: stretch;
			flex-wrap: wrap;
		}
	}
	&__left {
		width: 100%;
		
		padding: 1em;
		border-bottom: .5px solid $green;
		
		@media (min-width: 40rem) {
			min-height: 100vh;
			width: 40%;
			border-bottom: none;
		}
		@media (min-width: 60rem) {
			padding-left: 2rem;
		}
		@media (min-width: 70rem) {
			padding-left: 3rem;
			padding-right: 3rem;
			padding-top: 2rem;
		}
		@media (min-width: 80rem) {
			padding-left: 4rem;
			padding-right: 4rem;
		}
		@media (min-width: 90rem) {
			padding-left: 8%;
			padding-right: 5rem;
		}
	}
	
	&__right {
		width: 100%;
		padding: 1em;
		
		@media (min-width: 40rem) {
			min-height: 100vh;
			width: 60%;
			border-left: .5px solid $green;
		}
		@media (min-width: 60rem) {
			padding-right: 2rem;
			padding-left: 2rem;
		}
		@media (min-width: 70rem) {
			padding-right: 3rem;
			padding-left: 3rem;
			padding-top: 2rem;
		}
		@media (min-width: 80rem) {
			padding-right: 4rem;
			padding-left: 4rem;
		}
		@media (min-width: 90rem) {
			padding-right: 10%;
			padding-left: 4rem;
		}
	}
}

/* footer */
.footer {
	width: 100vw;
	background-color: $beige;
	border: $border;
	border-top: none;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	bottom: 0;
	
	&__content {
		width: 100%;

	}
	
	&__credit {
		padding: 1em;
		
		p {
			font-family: $sans;
			text-align: center;
			color: $green;
			font-size: .6em;
		}
	}
	
	&__links{
		color: $green;
		font-family: $sans;
		font-size: .9em;
		font-weight: 400;
		line-height: 1.5em;
		text-decoration: none;
		padding: 1em 1.5em;
		
		a {
			text-decoration:none;
			color: $green;
		}
	}
	

}
